#container {
  padding: 50px 50px 50px 50px;
  width: auto;
}

.isCrossedOut {
  text-decoration: line-through;
}

.todo {
  margin-left: 8px;
  cursor: pointer;
}

.todo:hover {
  filter: brightness(50%);
}
